{% extends 'personnel/base.html' %}
{% block title %}Doctor Availability{% endblock %}

{% block body %}

    <h3>Availability on {{ object.date }}</h3>

    {% if schedule %}
    <ul>

        {% if not schedule.block1 %}
        <li>9am - 10am: Available</li>
        {% else %}
        <li>9am - 10am: Not Available</li>
        {% endif %}

        {% if not schedule.block1 %}
        <li>10am - 11am: Available</li>
        {% else %}
        <li>10am - 11am: Not Available</li>
        {% endif %}

        {% if not schedule.block1 %}
        <li>11am - 12pm: Available</li>
        {% else %}
        <li>11am - 12pm: Not Available</li>
        {% endif %}

        {% if not schedule.block1 %}
        <li>12pm - 1pm: Available</li>
        {% else %}
        <li>12pm - 1pm: Not Available</li>
        {% endif %}

        {% if not schedule.block1 %}
        <li>1pm - 2pm: Available</li>
        {% else %}
        <li>1pm - 2pm: Not Available</li>
        {% endif %}

        {% if not schedule.block1 %}
        <li>2pm - 3pm: Available</li>
        {% else %}
        <li>2pm - 3pm: Not Available</li>
        {% endif %}

        {% if not schedule.block1 %}
        <li>3pm - 4pm: Available</li>
        {% else %}
        <li>3pm - 4pm: Not Available</li>
        {% endif %}

        {% if not schedule.block1 %}
        <li>4pm - 5pm: Available</li>
        {% else %}
        <li>4pm - 5pm: Not Available</li>
        {% endif %}

    </ul>
    {% else %}
    <h5> Not working today </h5>
    {% endif %}

{% endblock %}