{% extends 'personnel/base.html' %}
{% block title %}Doctor Availability{% endblock %}

{% block body %}

    <h3>Doctor Availability</h3>

    <ul>
        <li>9am - 10am: {{ object.block1 }}</li>
        <li>10am - 10am: {{ object.block2 }}</li>
        <li>11am - 10am: {{ object.block3 }}</li>
        <li>12pm - 1pm: {{ object.block4 }}</li>
        <li>1pm - 2pm: {{ object.block5 }}</li>
        <li>2pm - 3pm: {{ object.block6 }}</li>
        <li>3pm - 4pm: {{ object.block7 }}</li>
        <li>4pm - 5pm: {{ object.block8 }}</li>
    </ul>

{% endblock %}