{% extends 'personnel/base.html' %}
{% block title %}Personnel - {{ object }}{% endblock %}

{% block body %}

    <h3>{{ object.first_name }} {{ object.last_name }}</h3>

    <ul>
        <li>Gender: {{ object.gender }}</li>
        <li>Address: {{ object.address }}</li>
        <li>Phone: {{ object.phone }}</li>
        <li>Salary: ${{ object.salary }}</li>
        <li>SSN: {{ object.ssn }}</li>

        {% if physician %}
        <li>Specialty: {{ physician.specialty }}</li>

        {% elif surgeon %}
        <li>Specialty: {{ surgeon.specialty }}</li>
        <li>Contract Type: {{ surgeon.contract_type }}</li>
        <li>Contract Length: {{ surgeon.contract_length }}</li>

        {% elif nurse %}
        <li>Specialty: {{ physician.specialty }}</li>
        {% endif %}
    </ul>

{% endblock %}