{% extends 'personnel/base.html' %}
{% block title %}Personnel - {{ object }}{% endblock %}

{% block body %}

    <h3>{{ object.first_name }} {{ object.last_name }}</h3>
    <h3>{{ physician }}</h3>

    <ul>
        <li>Gender: {{ object.gender }}</li>
        <li>Address: {{ object.address }}</li>
        <li>Phone: {{ object.phone }}</li>
        <li>Salary: ${{ object.salary }}</li>
        <li>SSN: {{ object.ssn }}</li>
        <li>Specialty: {{ physician.specialty }}</li>
    </ul>

{% endblock %}