{% extends 'personnel/base.html' %}
{% block title %}Personnel - {% endblock %}

{% block body %}
    <h3>Physician Details:</h3>
    <h3>{{ personnel }}</h3>
    <h3>{{ personnel_list }}</h3>
    {% if personnel_list %}
        <ul>
            {% for physician in personnel_list %}
                <li>{{ physician }}</li>
                <li>{{ physician.first_name }}</li>
                <li>{{ physician.specialty }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h5>No physicians registered</h5>
    {% endif %}
{% endblock %}