{% extends 'personnel/base.html' %}
{% block title %}Input Physician Information{% endblock %}
{% block personnel_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" action="/personnel/physicians/add/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-danger small">{{ field.errors }}</span>
                        </div>

                        <p><label for="first_name">First Name:</label>
                            <input id="first_name" type="text" name="first_name" maxlength="20" value="{{ first_name }}" required /></p>

                        <p><label for="last_name">Last Name:</label>
                            <input id="last_name" type="text" name="last_name" maxlength="20" value="{{ last_name }}" required /></p>

                        <p><label for="gender">Gender:</label>
                            <input id="gender" type="text" name="gender" maxlength="1" value="{{ gender }}" required /></p>

                        <p><label for="address">Address</label>
                            <input id="address" type="text" name="address" maxlength="100" value="{{ address }}" required /></p>

                        <p><label for="phone">Phone:</label>
                            <input id="phone" type="text" name="phone" maxlength="12" value="{{ phone }}" required /></p>

                        <p><label for="salary">Salary:</label>
                            <input id="salary" type="text" name="salary" maxlength="7" value="{{ salary }}" required /></p>

                        <p><label for="ssn">SSN:</label>
                            <input id="ssn" type="text" name="ssn" maxlength="9" value="{{ ssn }}" required /></p>

                        <!--ADD SPECIALTY BACK HERE-->

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}