{% extends 'personnel/base.html' %}
{% block title %}All Available Dates{% endblock %}

{% block body %}
    <h3>All Available Dates for {{ str(personnel.id) }}:</h3>
    {% if all_dates %}
        <ol>
            {% for date in all_dates %}
            <li><a href="{% url 'personnel:physician_avail' employee_no_id=personnel.id date=date.date|date:'Y-m-d' %}">{{ date.date }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <h5>No dates available</h5>
    {% endif %}
{% endblock %}