body {
    background: white
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}